header {
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: #FE6901;
    z-index: 1;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    display: flex;
}

.link {
    color: white;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

main {
    padding-top: 50px;
    margin: 0 auto;
    width: 80%;
}

.first-cards {
    display: flex;
    justify-content: space-between;
}

.last-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 32%;
}

.card1 {
    background-image: url('../images/img/1.webp');
    height: 526px;
    width: 100%;
    background-size: cover;
    transition: 0.5s ease-in-out;
    position: relative;
    margin: 0;
}

.card1:hover {
    background-image: url("../images/img/1b.webp");
}

.card2 {
    background-image: url('../images/img/2.webp');
    height: 526px;
    width: 100%;
    background-size: cover;
    transition: 0.5s ease-in-out;
    position: relative;
    margin: 0;
}

.card2:hover {
    background-image: url("../images/img/2b.webp");
}

.card3 {
    background-image: url('../images/img/3.webp');
    height: 526px;
    width: 100%;
    background-size: cover;
    transition: 0.5s ease-in-out;
    position: relative;
    margin: 0;
}

.card3:hover {
    background-image: url("../images/img/3b.webp");
}

.card4 {
    background-image: url('../images/img/4.webp');
    height: 526px;
    width: 100%;
    background-size: cover;
    transition: 0.5s ease-in-out;
    position: relative;
    margin: 0;
}

.card4:hover {
    background-image: url("../images/img/4b.webp");
}

.card5 {
    background-image: url('../images/img/5.webp');
    height: 526px;
    width: 100%;
    background-size: cover;
    transition: 0.5s ease-in-out;
    position: relative;
    margin: 0;
}

.card5:hover {
    background-image: url("../images/img/5b.webp");
}

.card6 {
    background-image: url('../images/img/6.webp');
    height: 526px;
    width: 100%;
    background-size: cover;
    transition: 0.5s ease-in-out;
    position: relative;
    margin: 0;
}

.card6:hover {
    background-image: url("../images/img/6b.webp");
}

.card-icon svg{
    background-color: white;
    fill: black;
    width: 18px;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 7px;
}

.card-icon svg:hover {
    fill: red;
}

.card-text1 p{
    display: flex;
}

.discount {
    background-color: red;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom: 30px;
    padding: 2px 5px;

}

.sustain {
    background-color: green;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 53px;
    bottom: 30px;
    padding: 2px 5px;
}

.sustain2 {
    background-color: green;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 0px;
    bottom: 30px;
    padding: 2px 5px;
}

/* .text {
    line-height: 2px;
} */

p {
    margin: 0;
    line-height: 20px;
}


.price {
    display: flex;
    gap: 5px; 
}

.offer {
    color: red;
    font-weight: 600;
}

.original {
    font-weight: 200;
    text-decoration: line-through;
}

.image-hover {
    background-image: url('../images/img/1.webp');
    background-size: cover;
    transition: 0.5s ease-in-out;       
}

.producer {
    font-weight: 200;
}

footer {
    background-color: #1A1A1A;
    height: 100px;
    margin-top: 20px;
}

.contain-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

h4 {
    color: white;
}

.foot-link {
    display: flex;
    gap: 5px;
    padding-bottom: 20px;
}

.foot-link a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.logo-link{
    padding-bottom: 20px;
}


